<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatBox prac</title>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        #chatBox{
            background-color: skyblue;
            width: 300px;
            height: 450px;
            border: 1px;
            display: flex;
            align-items: flex-start;
            position: relative;
            box-sizing: border-box;
            flex-direction: column;
            border-radius: 2%;
        }
        #otherChat {
            background-color: white;
            position: relative;
            padding: 10px;
            margin-top: 7px;
            margin-left: 3px;
            font-size: 13px;
            border-radius: 10px;
            float: left;
        }
        #myChat {
            background-color: yellow;
            position: relative;
            padding: 10px;
            margin-top: 7px;
            margin-left: 3px;
            font-size: 13px;
            border-radius: 10px;
            left: 243px
        }
        input{
            width: 180px;
        }
        .notice{
            left: 50%;
            color: #005397;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div id="chatBox">
        <div id="myChat">안녕?</div>
        <div id="otherChat">응 안녕/</div>
    </div><br>
    <input type="text" placeholder="내용 입력" id="content">
    <button onclick="inputChat()">전송</button>

    <script>
        const chatBox = document.getElementById('chatBox');
        const Chat = String(document.getElementById('content').value);

        // 소켓 사용을 위한 객체 생성
        const socket = io.connect();

        socket.on('connect', () => {
            console.log('클라이언트 연결 완료 >', socket.id);
        });

        socket.on('notice', (msg) => {
            document.getElementById('chatBox').insertAdjacentHTML('beforeend', `<div class='notice'>${msg}</div>`);
        })

        function inputChat(){
            socket.emit('send', {writer: 'client', msg: 'hello'});
        };


    </script>
</body>
</html>