<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="id" name="id" placeholder="아이디">
    <input type="password" id="pw" name="pw" placeholder="비밀번호">
    <input type="text" id="name" name="name" placeholder="이름">
    <input type="number" id="age" name="age" placeholder="나이">
    <input type="file" name="dynamicFile" id="dynamicFile"><br><br>
    <button type="button" onclick="fileUpload()">업로드</button><br>
</body>
</html>