<header id="header">
  <div class="header-inner">
    <div class="logo-wrap">
      <h1 class="logo">
        <a href="/">로고</a>
      </h1>
      <ul>
        <li><a href="/market">중고거래</a></li>
        <li><a href="/login">프로필</a></li>
      </ul>
    </div>
    <div class="utility-wrap">
      <div class="search"></div>
      <div class="info"></div>
      <div class="user-info">
        <button class="user-info-btn">
          <i class="bi bi-person-circle"></i>
        </button>
      </div>
    </div>
  </div>
  <nav>
    <i class="bi bi-justify"></i>
    <ul class="category">
      <li class="category-list">
        <a href="">패션</a>
      </li>
      <li class="category-list">
        <a href="">뷰티</a>
      </li>
      <li class="category-list">
        <a href="">가전</a>
      </li>
      <li class="category-list">
        <a href="">모바일/태블릿</a>
      </li>
      <li class="category-list">
        <a href="">가구/가전</a>
      </li>
      <li class="category-list">
        <a href="">반려동물/취미</a>
      </li>
      <li class="category-list">
        <a href="">티켓/쿠폰</a>
      </li>
      <li class="category-list">
        <a href="">스포츠/레저</a>
      </li>
      <li class="category-list">
        <a href="">무료나눔</a>
      </li>
    </ul>
    <ul class="etc">
      <li>
        <a href="">고객센터</a>
      </li>
      <li>
        <i class="bi bi-chat-right-text"></i>
        <a href="">채팅</a>
      </li>
    </ul>
  </nav>
</header>