<hr class="my-5 border-0" />
<div class="airBtns">
	<input type="checkbox" id="bookmark" name="bookmark" hidden />
	<label for="bookmark" class="ibt-bookmark btn-primary" aria-label="관심 추가"></label>
	<a href="/write" class="ibt-write btn-primary"><span>등록</span></a>
</div>
