<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
        <!-- axios cdn -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script defer src="../static/user.js"></script>
    <style>
        input {
            width: 185px;
        }
    </style>
</head>
<body>
    <h1>회원 정보</h1>
    <a href="/user">HOME</a><br><br>
    <span>ID 수정 불가, name,password 수정 가능</span><hr>
    <form name="profile">
        ID <input type="text" name="id" value="" readonly><br>
        PW <input type="password" name="pw" placeholder="암호화 되어 확인 불가(수정만 가능)"><br>
        Name <input type="text" name="name"><hr>
        <button type="button" onclick="editProfile()">정보 수정</button>
        <button type="button" onclick="deleteProfile()">유저 삭제</button>
    </form>

    <script>
        const form = document.forms['profile'];

        form.id.value = `<%= userid %>`;
        form.name.value = `<%= username %>`;

    </script>
</body>
</html>