<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" c />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" c />
		<%- include('./component/head', { title: '중고거래 - 점빵' }) %>
		<link rel="stylesheet" href="/static/market.min.css" />
	</head>
	<body>
		<div id="jumbbang">
			<%- include('./component/header') %>
			<main class="container">
				<div id="marketList">
					<section id="article-detail-hot-more" class="container my-5 pt-3">
						<div class="d-flex justify-content-between align-items-center pb-4">
							<div class="d-flex gap-3">
								<h3 class="h2 fw-bold mb-0">중고 거래</h3>
								<input type="checkbox" name="filter" id="filter" hidden />
								<label
									for="filter"
									class="ibt-filter h3 mb-0"
									data-bs-toggle="collapse"
									data-bs-target="#filterBody"
									aria-expanded="false"
									aria-controls="filterBody"></label>
							</div>
							<div class="sort">
								<input type="radio" name="sort" id="sort1" value="1" checked hidden />
								<label class="bt-recommend" for="sort1">추천순</label>
								<input type="radio" name="sort" id="sort2" value="2" hidden />
								<label class="bt-recent" for="sort2">최신순</label>
								<input type="radio" name="sort" id="sort3" value="3" hidden />
								<label class="bt-down" for="sort3">가격 낮은순</label>
								<input type="radio" name="sort" id="sort4" value="4" hidden />
								<label class="bt-up" for="sort4">가격 높은순</label>
							</div>
						</div>
						<div class="filterBody collapse pb-4" id="filterBody">
							<ul>
								<li>
									<span>
										<input class="form-check-input" type="checkbox" id="drop" name="drop" />
										<label class="form-check-label" for="drop">판매완료 상품</label></span
									>
								</li>
								<li>
									<span>
										<input class="form-check-input" type="radio" id="filterPrice1" name="filterPrice" />
										<label class="form-check-label" for="filterPrice1">1만원 이하</label>
									</span>
									<span>
										<input class="form-check-input" type="radio" id="filterPrice2" name="filterPrice" />
										<label class="form-check-label" for="filterPrice2">1만원 ~ 5만원 이하</label>
									</span>
									<span>
										<input class="form-check-input" type="radio" id="filterPrice3" name="filterPrice" />
										<label class="form-check-label" for="filterPrice3">5만원 ~ 10만원 이하</label>
									</span>
									<span>
										<input class="form-check-input" type="radio" id="filterPrice4" name="filterPrice" />
										<label class="form-check-label" for="filterPrice4">10만원 이상</label>
									</span>
								</li>
							</ul>
						</div>
						<section class="cards-wrap">
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price-share">나눔</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
							<article class="card">
								<a class="card-link" href="/articles/1">
									<div class="card-photo">
										<img alt="오락기" src="/static/imgs/test.jpg" crossorigin="Anonymous" />
									</div>
									<div class="card-desc">
										<h2 class="card-title">오락기</h2>
										<div class="card-price">1,000원</div>
										<div class="card-region-name">인천 계양구</div>
										<div class="card-counts">
											<span class="bookmarkHit" aria-label="관심">70</span> ∙
											<span class="chatHit" aria-label="채팅">36</span> ∙
											<span class="hit" aria-label="조회">2221</span>
										</div>
									</div>
								</a>
							</article>
						</section>
					</section>
				</div>

				<%- include('./component/marketFooter') %>
			</main>
			<%- include('./component/footer') %>
		</div>
		<script src="/static/js/market.js"></script>
	</body>
</html>
