<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/user.js"></script>

</head>
<body>
    <h1>회원가입</h1>
    <form name="signup">
        ID <input type="text" name="id"><br>
        Password <input type="password" name="pw"><br>
        nickname <input type="text" name="nickname"><br>
        address <input type="text" name="address"><br>
        <button type="button" onclick="signUp()">Register</button><br>
        <a href="/user/login">Login</a>
    </form>
</body>
</html>